<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoIntegral</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoIntegral.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    
</head>
    <body>
        <header class="fixed-top">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">            
                <div class="container-fluid">              
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Inicio"><img class="logoNav" src="/Imagenes/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div style="margin-left: 70px; background-color:white;" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            @if (Tienda.InicioSesion == true)
                            {
                                <li>
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Inicio">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Productos">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contacto">Contacto</a>
                                </li>    
                            }                            
                                        
                        </ul>                   
                        
                        
                        @if (Tienda.InicioSesion == true)
                        {   
                            
                            <div class="dropdown">                        
                                <img class="fotoUsuario dropdown-toggle" src="@Tienda.Usuario.FotoUsuario" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="MostrarDesplegableUsuario()">   
                                <div class="border dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" style="color:black;">@Tienda.Usuario.NombreUsuario</a>                                
                                    <a class="dropdown-item" style="color:red;" href='@Url.Action("CerrarSesion", "Home")'>Cerrar Sesión</a>
                                </div>
                            </div>   
                            <span onclick="MostrarCarrito()" style="margin-right: 50px;"><img class="carritoLogo" src="/Imagenes/carrito.png" alt=""></span>

                                        
                            
                        }else{
                            <a href='@Url.Action("Index", "Home")'><img class="carritoLogo dropdown-toggle" src="/Imagenes/usuario.png" type="" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a> 
                        }
                    </div>                
                </div>
            </nav>
            
        </header>
        
        <div class="">
            <main role="main" class="pb-3" onclick="$('.carrito').hide(), $('.dropdown-menu').hide()">
                
                @RenderBody()
                            
            </main>
        </div>
        

        <footer class="footer">
            <div class="container-fluid">
                <div class="row pt-5 pr-0 pl-5 fondoNegro text-white text-center">
                    <div class="col-lg-3">
                        <p class="h3">Full Ice</p> 
                        <p class="h6 text-secondary">Buenos Aires, Argentina</p>           
                    </div>
                    <div class="col-lg-3">

                        <p class="h6">Ayuda</p>
                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href='@Url.Action("Contacto", "Home")'>Servicio</a>
                        </div>

                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href='@Url.Action("Contacto", "Home")'>Envíos y entregas</a>
                        </div>            
                    
                    </div>
                    <div class="col-lg-3">

                        <p class="h6">Redes</p>
                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href="https://www.instagram.com/fullice.arg/?hl=es-la" target="_blank">Instagram</a>
                        </div>

                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href="https://m.facebook.com/heladofullice/photos/full-ice-el-primer-helado-proteico-de-argentina-20-gramos-de-whey-protein-en-un-/1617922481844438/" target="_blank">Facebook</a>
                        </div>  

                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href="https://twitter.com/ysy__a/status/1287568664611389441?lang=es" target="_blank">Twitter</a>
                        </div>         


                    </div>
                    <div class="col-lg-3">

                        <p class="h6">Contacto</p>

                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href="https://www.instagram.com/riverplate/?hl=es-la">Trabaja con nosotros</a>
                        </div> 

                        
                        <div class="mb-2">
                        <a class="text-secondary text-decoration-none" target="_blank" href="https://www.instagram.com/chuchudemontegrande/">Campañas</a>
                        </div>       

                    </div>

                    <div class="col-xs-12 pt-4 pb-2">
                        <p class="text-secondary text-center">© 2022 Full Ice, Inc. Todos los derechos reservados</p>  
                    </div>          
                </div>
            </div>
        </footer>


        <div class="d-flex justify-content-end">
            <div class="carrito">  
            </div>
        </div>  

        
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
