@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="banner1 d-flex justify-content-center" style="margin-top:70px;">
        <p class="mt-2">TIENDA ONLINE CON ENVIO A TODO EL PAIS</p>
    </div>      
    <img src="/Imagenes/image.png" class="shadow" alt="" width="100%">   

</div>

    <div class="row mb-5 mt-5">
        <div class="col-sm d-flex justify-content-center">     
            @foreach(Categoria cat in @ViewBag.Categorias){      
            <div class="card text-center" style="width: 20%;"> 
                <a><img onclick="MostrarProductosPorCategoria(@cat.IdCategoria)" class="card-img-top imgCategoria" src="@cat.FotoCategoria" alt="Card image cap"></a>
                <div class="card-body">
                    <a style="text-decoration:none;"><h5 class="h5" onclick="MostrarProductosPorCategoria(@cat.IdCategoria)">@cat.NombreCategoria</h5></a>
                </div>
            </div> 
            }            
              
        </div>        
    </div>


<div class="productos mt-5 divProductos" style="display: none;">
    <h3 class="mt-5 mb-5 container text-center">Productos Destacados</h3>
    <div class="row mb-4 container justify-content-center" id="listaProductos">
    
    </div>
</div>

<div class="modal" id="modalProducto">
    <div class="modal-content">
        <div class="modal-header">            
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-left: 98%;" onclick="">
            <span aria-hidden="true">&times;</span>
            </button>
      </div>

      <div class="modal-body">
        <h5 class="modal-title" id="NombreProducto"></h5>
        </div>
    </div>       
</div>